#root {
  height: 100% !important;
}
body {
  height: 100% !important;
}
.layout {
  height: 100% !important;
  min-width: 1200px !important;
}
.header {
  background-color: #fff !important;
  border-bottom: 1px solid #999;
}
.content {
  min-height: 790px !important;
  margin: 10px;
}
.footer {
  text-align: center;
  border-top: 1px solid #999;
}